
.DS_Store
patterns/.DS_Store
patterns/fr_domains/.DS_Store
processed_data/.DS_Store
processed_data/fr/.DS_Store
results/en/.DS_Store
.DS_Store
patterns/.DS_Store
patterns/fr_domains/.DS_Store
processed_data/.DS_Store
processed_data/fr/.DS_Store
results/en/.DS_Store
patterns/fr_domains/.ipynb_checkpoints/wrong_prediction-checkpoint.ipynb
patterns/en_domains/.ipynb_checkpoints/wrong_prediction-checkpoint.ipynb
patterns/.DS_Store
results/en/.DS_Store
.DS_Store
patterns/en_domains/.ipynb_checkpoints/en_iate_final-checkpoint.ipynb
patterns/en_domains/.ipynb_checkpoints/en_wrong_prediction-checkpoint.ipynb
patterns/en_domains/corp_wind/.ipynb_checkpoints/en_iate_filtering_equi-checkpoint.ipynb
patterns/en_domains/.ipynb_checkpoints/en_iate_final-checkpoint.ipynb
patterns/en_domains/corp_wind/.ipynb_checkpoints/en_iate_filtering_equi-checkpoint.ipynb
results/en/.DS_Store
processed_data/fr/.DS_Store
processed_data/.DS_Store
patterns/fr_domains/.ipynb_checkpoints/fr_wrong_prediction-checkpoint.ipynb
patterns/nl_domains/.ipynb_checkpoints/nl_iate_filtering-checkpoint.ipynb
patterns/nl_domains/.ipynb_checkpoints/nl_wrong_prediction-checkpoint.ipynb
patterns/nl_domains/.ipynb_checkpoints/nl_iate_filtering-checkpoint.ipynb
.DS_Store
ACTER/.DS_Store
ACTER/en/.DS_Store
ACTER/en/.DS_Store
ACTER/.DS_Store
.DS_Store
